---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to <strong>Interstellar Explorer's</strong> Logs</h1>

<div class="mainArea">
<p class="instructions">Click on the links below to view different logs...</p>

<a class="blogPost" href="/post1/" title="Go to Post 1"><h2>Blog Post No: 001</h2></a>
<a class="blogPost" href="/post2/" title="Go to Post 2"><h2>Blog Post No: 002</h2></a>
</div>

<img alt="pine" src="/images/pine.png" width="50" />